       <!-- Footer section start -->
       <footer>
        <div class="div-1110">
            <div class="footer-container-top">
                <div class="last-flex">
                    <div class="flex-container-fourth">
                        <div class="group">
                            <h5 class="footer-title">Şirkət</h5>

                            <p><a href="/az/about/">Haqqımızda</a></p>

                            <p><a href="/az/shops/">Mağazalar</a></p>

                            <p><a href="/az/contact/">Əlaqə</a></p>
                        </div>

                        <div class="group">
                            <h5 class="footer-title">Hesab</h5>

                            <p><a href="/az/accounts/orders/">Hesabım</a></p>

                            <p><a href="/az/accounts/register/">Hesab yarat</a></p>

                            <p><a href="/az/accounts/orders/">Sifarişlər</a></p>

                            <p><a href="/az/accounts/bonus/">Bonuslar</a></p>

                        </div>

                        <div class="group">
                            <h5 class="footer-title">Alıcılar</h5>

                            <p><a href="/az/pages/faq/">FAQ</a></p>

                            <p><a href="/az/pages/return-policy/">Geri qaytarma</a></p>

                            <p><a href="/az/pages/terms-and-conditions/">Şərtlər və Qaydalar</a></p>

                            <p><a href="/az/pages/privacy-policy/">Gizlilik siyasəti</a></p>

                        </div>

                        <div class="group">
                            <h5 class="footer-title">DƏSTƏK</h5>
                            <p><a href="#">Müştəri xidmətləri</a></p>
                            <p><a href="#" class="dark">*1515</a></p>
                            <p><a href="#" class="dark"><span class="__cf_email__"
                                        data-cfemail="61080f070e2102080f0802084f001b">senanoguz@mail.ru</span></a>
                            </p>
                        </div>
                    </div>
                    <div class="last">
                        <h5 class="footer-title">ABUNƏ OL</h5>

                        <div class="footer-left">
                            <input type='hidden' name='csrfmiddlewaretoken'
                                value='zaCfLy18MHVfFdtQWMuK4YePXQ61ZqT6rGmlqgdPCOzc6lvCfCP7UPJY4MDnTzEE' />

                            <input type="email" name="email" placeholder="E-mail daxil edin" maxlength="200"
                                required id="id_email" />
                            <button class="send">Göndər</button>
                        </div>
                        <div class="social-icons">
                            <a class="facebook" href="https://www.facebook.com/" target="_blank"></a>
                            <a class="instagram" href="https://www.instagram.com//" target="_blank"></a>
                            <a class="youtube" href="https://www.youtube.com/user/ciniciaz" target="_blank"></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="copy">&Ccedil;inici - B&uuml;t&uuml;n h&uuml;quqlar qorunur 2019</p>
    </footer>
    <!-- Footer section end -->

