*{
    margin: auto;
    padding: auto;
}
.section{
    width: 100%;
    background-color: #f8f8f8;

}

.container{
  max-width: 1160px !important;
  padding: 40px 0px 190px !important;
  box-sizing: border-box;
  margin: 0 auto;
  
}
.row{
  display: flex;
  justify-content: space-between;
}
#leftside{
    background-color: #fff;
    max-width: 260px;
    height: 365px ;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
#leftside p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #272727;
    opacity: 0.72;
    margin: 0;
}
#leftside h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
    margin-top: 7px;
    margin-bottom: 0;
}
.filter{
    margin-top: 25px;
}
.filter li a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 45px;
    color: #272727;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
    text-decoration: none;
}
.filter li a:hover {
    text-decoration: underline;
}
.filter li .selected{
    color: #e4013a;
}
#rightside{
    background-color: #fff;
    max-width: 860px;
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 148px;
}
#rightside p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size:16px;
    line-height: 20px;
    margin: 0;
}
#rightside form {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #272727;
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    flex-wrap: wrap;
}

#rightside form input{
    width: 380px;
    height: 45px;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid #DCDCDC;
    margin-top: 7px;
    margin-bottom: 0px;
    background-color: #ffffff;
    font: 400 13.3333px Arial;
}
#rightside form input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
#id_gender{
    font: 400 13.3333px Arial;
}

/* placeholder font styles and etc. above !! */

#rightside form label{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 10px);
    max-width: initial;
    margin-bottom: 0;
    font-weight: inherit;
}
#rightside form label select{
    color: #A5A5A5;
    -webkit-appearance: none;
    background-image: url(/static/arrow-down.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
    background-size: 10px 5px;
    padding: 0px 30px 0px 20px;
    width: 380px;
    height: 45px;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid #DCDCDC;
    margin-top: 7px;
    margin-bottom: 0px;
    background-color: #ffffff;
}
#rightside .save{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #272727;
    width: 220px;
    height: 50px;
    text-decoration: none;
    margin-top: 40px;
    border: none;
    cursor: pointer;
}
#rightside .space{
    display: block;
    height: 0px;
    width: 50px;
}