@charset 'UTF-8';
/* Slider */

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* large product slider css changes start */


.large-product-slider .slick-slide {
    margin: 0rem;
    transition: all ease-in-out .3s;
    opacity: 1;
}
.large-product-slider .slick-prev {
    left: 2rem !important;
    z-index: 1;
}
.large-product-slider .slick-next {
    right: 2rem !important;
    z-index: 1;
}
.large-product-slider .slick-prev:before {
    content: url("/static/cinici_new/images/icons/slide-left-arrow.png") !important;
    opacity: 1 !important;
}
.large-product-slider .slick-next:before {
    content: url("/static/cinici_new/images/icons/slide-right-arrow.png") !important;
    opacity: 1 !important;
}
/* large product slider css changes end */

/* small product slicer css start */

.small-product-slider .slick-list {
    padding: 0rem !important;
}
.small-product-slider .slick-slide {
    margin: 0rem;
    transition: all ease-in-out .3s;
    opacity: 1;
}
.small-product-slider .slick-prev {
    top: 1.7rem;
    width: 100%;
    left: 0rem !important;
    height: 3.5rem;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.83);
}
.small-product-slider .slick-next {
    bottom: -1.8rem;
    top: unset;
    width: 100%;
    right: 0rem !important;
    height: 3.5rem;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.83);
}
.small-product-slider .slick-prev:before {
    content: url("/static/cinici_new/images/icons/Arrov-top.svg") !important;
}
.small-product-slider .slick-next:before {
    content: url("/static/cinici_new/images/icons/Arrov-bottom.svg") !important;
}
/* small product slicer css end */
